*{
    box-sizing: border-box;
}

.box {
    background-color: lightblue;
    width: 300px;
    height: 150px;
    /*padding*/
    padding: 40px;
    /*border*/
    border: 20px solid blue;
    /*margin*/
    margin: 40px;
    
}